pysco/__pycache__/
.*/
pysco/fieldtest.ipynb
pysco/fulltest-1.ipynb
pysco/fulltest-2.ipynb
pysco/idel.npy
pysco/fulltest-1.ipynb
/pysco/powerpics_tnew
/pysco/tnew
/pysco/tnewp
*.ipynb
pysco/ipi.npz.npy
pysco/fulltest-1.ipynb
/pysco/t3
/pysco/tnc
/pysco/t2
*.ipynb
/pysco/pt-modp
/pysco/pt-modp1
/pysco/small
!test-small-modp.ipynb
/pysco/smalln
/pysco/newton
/pysco/newton_j
pysco/test-small-modp.ipynb
/pysco/lin
/pysco/nlin
/pysco/nlint
*.txt
/pysco/comp12
/pysco/comp06
/pysco/comp24
/pysco/comp48
/pysco/comp24-2
/pysco/comp24-3
/pysco/newt
/pysco/newt-n
/pysco/ab-048
*.dat
/pysco/ab-048
*.h5
pysco/rsim.py
/pysco/comp24b-vc5-10
/pysco/comp24b-vc5-15
/pysco/comp48b-lin-vc5-30
/pysco/comp48b-vc5-5
/pysco/comp48b-vc5-30
/pysco/comp24b-vc2-1
/pysco/comp24b-lin-vc5-30
/pysco/comp24b-vc5-30
/pysco/comp24b-vc5-5
/pysco/comp48b-vc5-10
/pysco/comp48b-vc5-15
/pysco/comp48b-vc5-40
